
nav {
    background-color: var(--off-white);
    box-shadow: 0 .5rem .5rem  lightgrey;
}

.fa-shopping-cart{
    font-size: var(--font1);
    color: var(--accent-color);
}

a, a:visited, i {
    color: var(--text-color);
    transition: all .15s ease-in-out;
}

a:hover, a:focus {
    color: var(--accent-color);
    transform: scale(1.05);
}

i:hover, i:focus {
    transform: scale(1.2);
}