
@import '../../../assets/assets.module.scss';

nav {
    background-color: $off-white;
    box-shadow: 0 .5rem .5rem  lightgrey;
}

.fa-shopping-cart{
    font-size: $font1;
    color: $accent-color;
}
.navLink {
    color: $text-color !important;
    transition: all .15s ease-in-out ;
    &:hover, &:focus {
        color: $accent-color !important;
        transform: scale(1.05) ;
    }
}

i:hover, i:focus {
    transform: scale(1.2);
}