@import './assets/assets.module.scss';
body {
    font-family: var(--reading-font);
    color: var(--text-color);
    font-size: var(--font0);
}
h1{
    font-size: var(--font3);
}
h2{
    font-size: var(--font2);
}
h1, h2, h4 {
    color: var(--accent-color);
    font-family: var(--header-font);
}
p {
    font-size: var(--font1);
}
a, a:visited, i {
    color: var(--text-color);
    transition: all .15s ease-in-out;
}
a:hover, a:focus {
    color: var(--accent-color);
    transform: scale(1.05);
}
i:hover, i:focus {
    transform: scale(1.2);
}